<div class="container">
  <div class="row">
    <h1 class="col-12 mt-3"><%= link_to 'Topページ', root_path %><h1>
    <h3 class="col-12 mt-3 font-weight-bold">ようこそBookersへ！</h3>
    <p class="offset-1 col-11 mt-3"><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p>
    <p class="offset-1 col-11 mt-3">印象を共有し交換する事ができます</p>
    <p class="offset-1 col-11 mt-3"><%= link_to 'start', rails_reviews_path %></p>
  </div>
</div>