<!-- Bookers1のtopページ -->
<div class="container">
  <div class="row">
    <h1 class="col-12 mt-3"><%= link_to 'Topページ', root_path %><h1>
    <h3 class="col-12 font-weight-bold mt-3">ようこそBookersへ！</h3>
    <p class="offset-1 col-11 mt-3"><b>Bookers</b>では、さまざまな書籍にかんするあなたの意見や</p>
    <p class="offset-1 col-11 mt-3">印象を共有し交換する事ができます</p>
    <p class="offset-1 mt-3 start-btn"><%= link_to "start", reviews_path %></p>
  </div>
</div>