<div class="container">
  <div class="row">
    <h1 class="col-12">カリキュラム復習</h1>
    <div class="row">
      <div class="col-12">
        <ul>
          <li><%= link_to "HTML復習", html_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>