<div class="container">
  <div class="row chapter-menu">
    <h1 class="col-12">HTML復習</h1>
    <ul class="">
      <a class="chapter mb-3 col-12" href="#chapter2">chapter2</a>
      <a class="chapter mb-3 col-12" href="#chapter3">chapter3</a>
      <a class="chapter mb-3 col-12" href="#chapter4">chapter4</a>
      <a class="chapter mb-3 col-12" href="#chapter5">chapter5</a>
      <a class="chapter mb-3 col-12" href="#chapter6">chapter6</a>
      <a class="chapter mb-3 col-12" href="#chapter7">chapter7</a>
      <a class="chapter mb-3 col-12" href="#chapter8">chapter8</a>
      <a class="chapter col-12" href="#chapter9">chapter9</a>
    </ul>
  </div>
  <div class="row chapter-2">
    <h3 id="chapter2" class="mt-3 col-12">chapter2</h3>
    <div class="col-12 mt-3">
      <h5 class="chapter2-heading">サービス紹介</h4>
    </div>
    <h6 id="chapter2-webcamp" class="col-12 font-weight-bold mt-2">webcamp</h6>
    <p class="col-12 mt-2">マンツーマンサポートによる学習で、確実にWebスキルを習得できるプログラミングスクールです。</p>
    <a class="col-12" href="#">webサイト</a>
    <h3 class="col-12 mt-3">
    <h6 id="chapter2-webcamp-pro" class="col-12 font-weight-bold mt-2">webcamp pro</h6>
    <p class="col-12 mt-2">未経験から転職を保証する日本で唯一のプログラミングスクールです。</p>
    <a class="col-12" href="#">webサイト</a>
    <h3 class="col-12 mt-3">
    <h6 id="chapter2-webcamp-woman" class="col-12 font-weight-bold mt-2">webcamp woman</h6>
    <p class="col-12 mt-2">家庭も仕事も頑張りたい主婦・ママ向けの、１ヶ月でWebサイトを制作するWebデザインスクールです。</p>
    <a class="col-12" href="#">webサイト</a>
    <h3 class="col-12 mt-3">
    <h6 id="chapter2-webcamp-career" class="col-12 font-weight-bold mt-2">webcamp career</h6>
    <p class="col-12 mt-2">3000名のエンジニアをサポートしてきたエージェントがあなたの転職をサポート。</p>
    <a class="col-12" href="#">webサイト</a>
    <h3 class="col-12 mt-3">
  </div>
  <div class="row chapter-3">
    <h3 id="chapter3" class="mt-3 col-12">chapter3</h3>
    <div class="chapter3-box1 mt-3">
      <div class="chapter3-box2"></div>
    </div>
  </div>
  <div class="row chapter-4">
    <h3 id="chapter4" class="mt-3 col-12">chapter4</h3>
    <div class="chapter4-contents mt-3">
      <div class="chapter4-top"></div>
      <div class="chapter4-main-visual"></div>
      <div class="chapter4-main-contents">
        <div class="chapter4-left"></div>
        <div class="chapter4-main"></div>
        <div class="chapter4-right"></div>
      </div>
      <div class="chapter4-footer"></div>
    </div>
  </div>
  <div class="row chapter-5">
    <h3 id="chapter5" class="mt-3 col-12">chapter5</h3>
    <a class="chapter5-heading mt-3 h4 col-12" href="#">infratop</a>
      <ul class="chapter5-nav-container col-12">
        <li class="chapter5-nav"><a href="#chapter2-webcamp">webcamp</a></li>
        <li class="chapter5-nav"><a href="#chapter2-webcamp-pro">webcamp pro</a></li>
        <li class="chapter5-nav"><a href="#chapter2-webcamp-woman">webcamp woman</a></li>
        <li class="chapter5-nav"><a href="#chapter-webcamp-career">webcamp career</a></li>
      </ul>
    <div class="chapter5-box-container">
      <div class="chapter5-box chapter5-box1"></div>
      <div class="chapter5-box chapter5-box2"></div>
      <div class="chapter5-box chapter5-box3"></div>
      <div class="chapter5-box chapter5-box4"></div>
      <div class="chapter5-box chapter5-box5"></div>
      <div class="chapter5-box chapter5-box6"></div>
      <div class="chapter5-box chapter5-box7"></div>
      <div class="chapter5-box chapter5-box8"></div>
      <div class="chapter5-box chapter5-box9"></div>
      <div class="chapter5-box chapter5-box10"></div>
      <div class="chapter5-box chapter5-box11"></div>
      <div class="chapter5-box chapter5-box12"></div>
    </div>
    <div class="chapter5-footer">
      <p class="chapter5-footer-text">© All rights reserved by Infratop.Inc.</p>
    </div>
  </div>
</div>