<span class="again-top-logo"><%= link_to 'Topページへ', root_path, class: "text-secondary" %></span>
<div class="su-header">
    
</div>
<div class="su-main">
    
</div>
<div class="su-footer">
    
</div>
