<span class="again-top-logo"><%= link_to 'Topページへ', root_path, class: "text-secondary" %></span>
<div class="su-header">
  <nav class="su-nav">
    <div class="su-nav-logo"></div>
    <ul class="su-ul">
      <li class="su-li">Portfolio</li>
      <li class="su-li">Feature</li>
      <li class="su-li">Profile</li>
      <li class="su-li">Contact</li>
    </ul>
  </nav>
</div>
<div class="su-main">
  <div class="su-main-visual">
    <div class="su-main-visual-heading">
      <h2>Lorem Ipsum</h2>
      <p class="main-visual-text">simple Dummy text of the printing</p>
    </div>
  </div>
  <div class="su-portfolio">
    <div class="su-portfolio-heading">Portfolio</div>
  </div>
</div>
<div class="su-footer">

</div>
