<span class="again-top-logo"><%= link_to 'Topページへ', root_path, class: "text-secondary" %></span>
<div class="su-header">
  <nav class="su-nav">
    <div class="su-nav-logo"></div>
    <ul class="su-ul">
      <li class="su-li">Portfolio</li>
      <li class="su-li">Feature</li>
      <li class="su-li">Profile</li>
      <li class="su-li">Contact</li>
    </ul>
  </nav>
</div>
<div class="su-main">

</div>
<div class="su-footer">

</div>
