// Place all the styles related to the html controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter-menu {
  width: 100%;
  border-bottom: 3px solid gray;
}

.chapter {
  display: block;
}

.chapter-2 {
  border-bottom: 3px solid gray;
}

.chapter2-heading {
  color: orange;
  font-weight: bold;
}

.chapter-3 {
  border-bottom: 3px solid gray;
  padding-bottom: 30px;
}

.chapter3-box1 {
  width: 300px;
  height: 300px;
  background-color: green;
  padding: 30px;
}
.chapter3-box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;
}

.chapter4-contents {
  width: 100%;
}

.chapter4-top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.chapter4-main-visual {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.chapter-4 {
  border-bottom: 3px solid gray;
  padding-bottom: 30px;
}

.chapter4-main-contents {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.chapter4-left {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.chapter4-main {
  width: 500px;
  height: 1400px;
  background-color: green;
}


.chapter4-right {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.chapter4-footer {
  height: 100px;
  background-color: blue;
}

.chapter-5 {
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid gray;
  padding-bottom: 30px;
}

.chapter5-heading {
  display: block;
  text-align: center;
}

.chapter5-nav-container {
  padding: 15px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
}

.chapter5-nav {
  display: inline-block;
  padding: 0 20px;
}

.chapter5-box-container {
  width: 800px;
  margin: 0 auto;
  padding: 35px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.chapter5-box {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.chapter5-box1 {
  background-color: #e6ffe9;
}

.chapter5-box2 {
  background-color: #cbffd3;
}

.chapter5-box3 {
  background-color: #aeffdb;
}

.chapter5-box4 {
  background-color: #93ffab;
}

.chapter5-box5 {
  background-color: #f3ffd8;
}

.chapter5-box6 {
  background-color: #edffbe;
}

.chapter5-box7 {
  background-color: #e9ffa5;
}

.chapter5-box8 {
  background-color: #e4ff8d;
}

.chapter5-box9 {
  background-color: #d9e5ff;
}

.chapter5-box10 {
  background-color: #bad3ff;
}

.chapter5-box11 {
  background-color: #a4c6ff;
}

.chapter5-box12 {
  background-color: #8eb8ff;
}

.chapter5-footer {
  width: 100%;
  height: 120px;
  background-color: gray;
}

.chapter5-footer-text {
  color: white;
  text-align: center;
  line-height: 120px;
}

.chapter-6 {
  border-bottom: 3px solid gray;
  padding-bottom: 30px;
}

.chapter6-main {
  width: 100%;
}

.chapter6-1 {
  height: 200px;
  background-image: url(chapter6-1.jpg);
  background-size: cover;
  background-position: center;
}

.chapter6-2 {
  height: 200px;
  background-image: url(chapter6-2.jpg);
  background-size: cover;
  background-position: center;
}

.chapter6-3 {
  height: 200px;
  background-image: url(chapter6-3.jpg);
  background-size: cover;
  background-position: center;
}

.chapter6-4 {
  height: 200px;
  background-image: url(chapter6-4.jpg);
  background-size: cover;
  background-position: center;
}