// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  display: contents;
}

.bookers1-logo {
  font-size: 20px;
}

.review-btn a {
  display: inline-block;
  color: gray;
}

.review-btn a:hover {
  background-color: black;
  display: inline-block;
  color: white;
}