// Place all the styles related to the ruby controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ruby-chapter-2 {
  border-bottom: 3px solid gray;
}

.chapter2-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.chapter2-commentary {
  color: red;
}

.ruby-chapter-3 {
  border-bottom: 3px solid gray;
}

.chapter3-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.ruby-chapter-4 {
  border-bottom: 3px solid gray;
}

.chapter4-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.ruby-chapter-5 {
  border-bottom: 3px solid gray;
}

.chapter5-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.chapter5-commentary {
  color: red;
}

.ruby-chapter-6 {
  border-bottom: 3px solid gray;
}

.chapter6-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.ruby-chapter-7 {
  border-bottom: 3px solid gray;
}

.chapter7-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.ruby-chapter-8 {
  border-bottom: 3px solid gray;
}

.chapter8-answer {
  border-bottom: 1px solid black;
  display: inline-block;
}

.start-btn a {
  display: inline-block;
  color: gray;
}

.start-btn a:hover {
  background-color: black;
  display: inline-block;
  color: white;
}