<div class="container">
  <div class="row">
    <h1 class="col-12 mt-3"><%= link_to 'Topページ', root_path %><h1>
    <p class="bookers1-logo col-12"><%= link_to "BookersTop", reviews_top_path %></p>
  </div>
   <div class="row">
     <h3 class="col-12">Books</h3>
   </div>
</div>